{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    <h2 class="thread-title">{{ threads.title }}</h2> 
    <div class="navigation-bar">
        <p><a href="{% url 'home' %}">{{ section_name }}</a>
            > <a href="{% url 'threads' %}?category={{threads.category_id}}">{{ category_name }}</a> > Topic: 
            <a href="{% url 'thread_page' %}?thread={{threads.id}}">{{ threads.title }}</a>
        </p>
    </div>
    <p class="post-sum">Posts: {{ post_count }}</p>
    
    <!-- Thread post -->
    <div class="thread-post-container" id="thread-container-{{ threads.id }}">
        <div class="user-container">
            {% if author.profile_picture %}
                <img src="{{ author.profile_picture.url }}" alt="Profile Picture">
            {% endif %}
            {% if author.picture_url %}
                <img src="{{ author.picture_url }}" alt="Profile Picture">
            {% endif %}
            <p><a href="{% url 'user' %}?id={{ author.id }}">{{ author.name }}</a></p>
            <p>{{ author.country }}</p>
            <p>Joined on: {{ author.date_joined }}</p>
            {% if author.display_gender %}
                <p>Gender: {{ author.gender }}</p>
            {% endif %}
            {% if author.display_age %}
                <p>Age: {{ author.age }}</p>
            {% endif %}
        </div>
        
        <div class="thread-post-content">
            <div class="post-metadata">
                <p>Created: {{ threads.created_at }}</p>
                <p>Last modification: {{ threads.updated_at }}</p>
            </div>
            <div class="post-body">
                <br>
                <p id="post-text-thread-{{ threads.id }}" style="white-space: pre-wrap">{{ threads.text}}</p>
                <textarea id="edit-input-thread-{{ threads.id }}" class="edit-input" rows="5" style="display:none;">{{ threads.text }}</textarea>
                <!-- Save button for editing the thread -->
                <button id="save-button-thread-{{ threads.id }}" class="save-button" data-thread-id="{{ threads.id }}" style="display:none;">Save</button>
            </div>
            
            <hr class="signature-divider" />
            <div class="signature">
                <p>{{ author.signature }}</p>
            </div>

            {% if author == current_user %}
                <div class="delete-button-container">
                    <a href="{% url 'delete_thread' threads.id %}" class="btdelete-n">
                        <i class="fas fa-times-circle"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        
            <div class="actions">
                {% if author != current_user %}
                <button class="report-thread-btn" data-post-id="{{ threads.id }}">
                    <svg class="report-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 8V13" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16H12.01" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                {% endif %}
                {% if author == current_user %}
                <button class="edit-button" data-thread-id="{{ threads.id }}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.9445 9.1875L14.9445 5.1875M18.9445 9.1875L13.946 14.1859C13.2873 14.8446 12.4878 15.3646 11.5699 15.5229C10.6431 15.6828 9.49294 15.736 8.94444 15.1875C8.39595 14.639 8.44915 13.4888 8.609 12.562C8.76731 11.6441 9.28735 10.8446 9.946 10.1859L14.9445 5.1875M18.9445 9.1875C18.9445 9.1875 21.9444 6.1875 19.9444 4.1875C17.9444 2.1875 14.9445 5.1875 14.9445 5.1875M20.5 12C20.5 18.5 18.5 20.5 12 20.5C5.5 20.5 3.5 18.5 3.5 12C3.5 5.5 5.5 3.5 12 3.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                {% endif %}
            </div>
    </div>

    <!-- Comments section -->
    <div id="comments">
        {% for post in posts %}
            <div class="thread-post-container" id="post-container-{{ post.id }}">
                <div class="user-container">
                    {% if post.user_id.profile_picture %}
                        <img src="{{ post.user_id.profile_picture.url }}" alt="Profile Picture">
                    {% endif %}
                    {% if post.user_id.picture_url %}
                        <img src="{{ post.user_id.picture_url }}" alt="Profile Picture">
                    {% endif %}
                    <p><a href="{% url 'user' %}?id={{ post.user_id.id }}">{{ post.user_id.name }}</a></p>
                    <p>{{ post.user_id.country }}</p>
                    <p>Joined on: {{ post.user_id.date_joined }}</p>

                    {% if post.user_id.display_gender %}
                        <p>Gender: {{ post.user_id.gender }}</p>
                    {% endif %}
                    {% if post.user_id.display_age %}
                        <p>Age: {{ post.user_id.age }}</p>
                    {% endif %}
                </div>

                <div class="thread-post-content">
                    <h3>Re: {{ threads.title }}</h3>
                    <div class="post-metadata">
                        <p>Created: {{ post.created_at }}</p>
                        <p>Last modification: {{ post.updated_at }}</p>
                    </div>
                    <div class="post-body">
                        <br>
                        <p id="post-text-{{ post.id }}" style="white-space: pre-wrap">{{ post.text }}</p>
                        <textarea id="edit-input-{{ post.id }}" class="edit-input" style="display:none;">{{ post.text }}</textarea>
                        <!-- Save button for editing the post -->
                        <button id="save-button-{{ post.id }}" class="save-button" data-post-id="{{ post.id }}" style="display:none;">Save</button>
                    </div>
                    
                    <hr class="signature-divider" />
                    <div class="signature">
                        <p>{{ post.user_id.signature }}</p>
                    </div>

                    {% if post.user_id == current_user %}
                    <div class="delete-button-container">
                        <a href="{% url 'delete_post' post.id %}" class="delete-button" data-post-id="{{ post.id }}">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>

            <div class="actions">
                {% if post.user_id != current_user %}
                <button class="report-post-btn" data-post-id="{{ post.id }}">
                            <svg class="report-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M12 8V13" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M12 16H12.01" stroke="#6B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                </button>
                {% endif %}
                {% if post.user_id == current_user %}
                <button class="edit-button" data-post-id="{{ post.id }}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.9445 9.1875L14.9445 5.1875M18.9445 9.1875L13.946 14.1859C13.2873 14.8446 12.4878 15.3646 11.5699 15.5229C10.6431 15.6828 9.49294 15.736 8.94444 15.1875C8.39595 14.639 8.44915 13.4888 8.609 12.562C8.76731 11.6441 9.28735 10.8446 9.946 10.1859L14.9445 5.1875M18.9445 9.1875C18.9445 9.1875 21.9444 6.1875 19.9444 4.1875C17.9444 2.1875 14.9445 5.1875 14.9445 5.1875M20.5 12C20.5 18.5 18.5 20.5 12 20.5C5.5 20.5 3.5 18.5 3.5 12C3.5 5.5 5.5 3.5 12 3.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                {% endif %}
            </div>
                <div class="voting" data-post-id="{{ post.id }}">
                    
                    <button class="upvote">+</button>
                    <div class="vote-count">
                        <span class="upvote-count">{{ post.upvote_count }}</span>
                    </div>
                    <button class="downvote">-</button>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if current_user.is_authenticated %}
        <h4>Reply</h4>
        <form hx-post="{% url 'post_creation' %}?thread={{ threads.id }}" hx-target="#comments" hx-swap="beforeend" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.text.label_tag }}
                {{ form.text }}
                <button type="button" id="emoji-btn" class="btn btn-outline-primary">😀</button>
                <div id="emoji-picker-container">
                    <emoji-picker id="emoji-picker"></emoji-picker>
                </div>
            </div>
            <br>
            <button type="submit" class="save-btn">Save</button>
        </form>
    {% endif %}
    
    <!-- Modal -->
    <div id="reportModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post">
                {% csrf_token %}
                <label for="reason">Reason:</label>
                <select name="reason" id="reason" required>
                    <option value="harassment">Harassment or Hate Speech</option>
                    <option value="misinformation">Misinformation</option>
                    <option value="inappropriate">Inappropriate Content</option>
                    <option value="spam">Spam or Scam</option>
                    <option value="impersonation">Impersonation</option>
                    <option value="violence">Violence or Threats</option>
                    <option value="self_harm">Self-Harm or Suicide</option>
                </select>
                <label for="details">Additional details (optional):</label>
                <textarea name="details" id="details" placeholder="Provide any additional information here..."></textarea>
                <button type="submit">Submit Report</button>
            </form>
        </div>
    </div>
    
    <script src="{% static 'scripts/upvote.js' %}"></script>
    <script src="{% static 'scripts/edit.js' %}"></script>

    <script>
document.querySelectorAll('.delete-button').forEach(function(button) {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        var postId = this.dataset.postId;
        var postContainer = document.getElementById(`post-container-${postId}`);

        fetch(this.href, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
            }
        })
        .then(function(response) {
            if (response.ok) {
                postContainer.remove();
                console.log('Post deleted successfully.');
            } else {
                console.error('Failed to delete post:', response.status);
            }
        })
        .catch(function(error) {
            console.error('Error deleting post:', error);
        });
    });
});
// JavaScript to handle showing and submitting the report form
document.querySelectorAll('.report-post-btn').forEach(button => {
    button.addEventListener('click', function() {
        var modal = document.getElementById('reportModal');
        modal.style.display = 'block';
        modal.querySelector('form').action = '{% url "report_post" 0 %}'.replace('0', this.dataset.postId); });
});

document.querySelectorAll('.report-thread-btn').forEach(button => {
    button.addEventListener('click', function() {
        var modal = document.getElementById('reportModal');
        modal.style.display = 'block';
        modal.querySelector('form').action = '{% url "report_thread" 0 %}'.replace('0', this.dataset.postId); });
});

// Close modal when clicking outside of it or on the close button
document.querySelector('.close').onclick = function() {
    document.getElementById('reportModal').style.display = 'none';
}

window.onclick = function(event) {
    var modal = document.getElementById('reportModal');
    if (event.target == modal) {
        modal.style.display = 'none';
    }
}
document.addEventListener('DOMContentLoaded', () => {
        const emojiBtn = document.getElementById('emoji-btn');
        const emojiPickerContainer = document.getElementById('emoji-picker-container');
        const emojiPicker = document.getElementById('emoji-picker');
        const textArea = document.getElementById('text');

        // Ensure the emoji picker container is hidden initially
        emojiPickerContainer.style.display = 'none';

        emojiBtn.addEventListener('click', () => {
            if (emojiPickerContainer.style.display === 'none' || emojiPickerContainer.style.display === '') {
                emojiPickerContainer.style.display = 'block';
            } else {
                emojiPickerContainer.style.display = 'none';
            }
        });

        emojiPicker.addEventListener('emoji-click', (event) => {
            textArea.value += event.detail.unicode;
            emojiPickerContainer.style.display = 'none';
        });
    });
    </script>
{% endblock %}
